{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Civiles en Acción </title>
        <!-- Favicon-->
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'home/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <img src="" alt="">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2 fixed-top">
            <div class="container">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}"><span class="text-primary"> Inicio </span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicio:obrasciviles' %}"> Obras Civiles</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicio:obrashidraulicas' %}"> Obras Hidráulicas </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'servicio:viasdecomunicacion' %}"> Vias de Comunicación </a>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:about' %}">Conóceme</a>
                      </li>
                      <div class="container"></div>
                      <div class="container"></div>
                      <div class="container"></div>
                      <div class="container"></div>
                      <div class="container"></div>
                      {% if request.user.is_authenticated %}
                      <div class="container">
                      <li class="nav-item">
                        <span class="text-light"> Hola <strong>{{request.user.first_name}}</strong>!</span>
                      </li>
                      </div>
                      <div class="container">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:editar_perfil' %}"><span class="text-primary">Perfil</span></a>
                      </li>
                      </div>
                      <div class="container">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:logout' %}"><span class="text-primary">Logout</span></a>
                      </li>
                      </div>
                      {% else %}
                      <div class="container">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:login' %}"><span class="text-primary">Login</span></a>
                      </li>
                      </div>
                      <div class="container">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:registro' %}"><span class="text-primary">Registrate</span></a>
                      </li> 
                      </div>         
                    {% endif %}
                 </ul>
                </div>    
            </div>     
        </nav>
            {% block content %}
      
          <!-- Inicio -->
      <br>
      <br>
      <br>
      <section id="home" class="text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container text-center">
          <div class="">
              <div>
                  <h2>Bienvenido (a) a la <span class="text-primary"> Civiles en acción</span></h2>
              </div>
          </div>
      </div>
      
      </section>
          <section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
            <div class="container">
                <div class="">
                    <div class="text-center">
                        <p class="lead my-4">
                          ¿ Queres compartir tus proyectos en ingenieria civil y que otros te conozcan?
                        </p>
                        <a href="{% url 'servicio:nueva' %}"><button type="submit" class="btn btn-primary"> Comparti tus proyectos ingenieriles acá</button></a>
                    </div>
                </div>
            </div>
        </section>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      
            {% endblock %}
        <footer class="p-5 bg-dark text-white text-center position-relative">
            <div class="container">
                <p class="lead text-white">Copyright &copy; 2023 BRUNO DIAZ</p>
                <a href="" class="position-absolute bottom-0 end-0 p-5">
                    <i class="bi bi-arrow-up-circle h1"></i>
                </a>
            </div>
        </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
      
      </body>
</html>
