{% extends 'home/base.html' %}

{% block content %}

<!-- Inicio -->

</section>
<br>
<br>
<br>
<section id="home" class="text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container text-center">
    <div class="">
        <div>
            <h2>Bienvenido (a) a la <span class="text-primary"> Civiles en acción </span></h2>
        </div>
    </div>
</div>

</section>


    <!-- Link Proyectos de ingenieria civil -->

    <section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
      <div class="container">
          <div class="">
              <div class="text-center">
                  <p class="lead my-4">
                    ¿Querés mostrar los proyectos en los que has trabajado y ser miembro de la comunidad?
                  </p>
                  <a href="{% url 'servicio:proyectCreacion' %}"><button type="submit" class="btn btn-primary">Agregalo acá</button></a>
              </div>
          </div>
      </div>
  </section>

   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
