{% load static %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2 fixed-top">
      <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:index' %}"><span class="text-primary">INICIO</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'servicio:obrasciviles' %}"> Obras civiles </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'servicio:obrashidraulicas' %}"> Obras Hidraulicas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'servicio:viasdecomunicacion' %}"> Vias de Comunicacion </a>
                </li>
                  <a class="nav-link" href="{% url 'home:about' %}">Conóceme</a>
                </li>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
                {% if request.user.is_authenticated %}
                <div class="container">
                <li class="nav-item">
                  <span class="text-light"> Hola <strong>{{request.user.first_name}}</strong>!</span>
                </li>
                </div>
                <div class="container">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:editarPerfil' %}"><span class="text-primary">Perfil</span></a>
                </li>
                </div>
                <div class="container">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:logout' %}"><span class="text-primary">Logout</span></a>
                </li>
                </div>
                {% else %}
                <div class="container">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:login' %}"><span class="text-primary">Login</span></a>
                </li>
                </div>
                <div class="container">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home:registro' %}"><span class="text-primary">Registrate</span></a>
                </li> 
                </div>         
              {% endif %}
           </ul>
          </div>    
      </div>     
  </nav>