{% extends 'home/base.html' %}

{% block content %}

<br>
<br>

<div class="container text-center">
    <h1> Lista de Obras Hidráulicas </h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for obra in obrashidraulicas %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{obra.imagenObra.url}}" class="" width="300px">
                {{obra.titulo}}
                <a href="{% url 'servicio:obrashidraulicas_detalle' obra.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == obra.usuario.id %}
                <a href="{% url 'servicio:obrashidraulicas_editar' obra.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'servicio:obrashidraulicas_eliminar' obra.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}