{% extends 'home/base.html' %}

{% block content %}

<br>
<br>
<br>
<br>

<div class="container text-center">
    <h1> Lista de Obras Civiles </h1>
</div>

<br>

<div class="container text-left">
    <div class="row">
        {% for obra in obrasciviles %}
        <div class="col-sm-8 align-items-left text-left">
            <div class="card-body">
                <img src="{{ obra.imagenObra.url }}" class="" width="300px">
                {{ obra.titulo }}
                <a href="{% url 'servicio:obrasciviles_detalle' obra.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == obra.usuario.id %}
                <a href="{% url 'servicio:obrasciviles_editar' obra.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'servicio:obrasciviles_eliminar' obra.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br >
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}
        

