{% extends 'home/base.html' %}

{% block content %}

<br>
<br>



<div class="container text-center">
    <h1> Lista de Obras Hidráulicas </h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for obrashidraulicas in obrashidraulicas %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{obrashidraulicas.imagenObra.url}}" class="" width="100px">
                {{bajo.titulo}}
                <a href="{% url 'obrashidraulicas' obrashidraulicas.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == obrashidraulicas.usuario.id %}
                <a href="{% url 'obrashidraulicas_editar' obrashidraulicas.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'obrashidraulicas_eliminar' obrashidraulicas.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}