{% extends 'home/base.html' %}

{% block content %}

<br>
<br>





<div class="container text-center">
    <h1> Lista de obras en Vias de Comunicación </h1>
</div>

<br>

<div class="container text-center">
    <div class="row">
            {% for viasdecomunicacion in viasdecomunicacion %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <img src="{{viasdecomunicacion.imagenViasdecomunicacion.url}}" class="" width="100px">
                {{bajo.titulo}}
                <a href="{% url 'viasdecomunicacion' viasdecomunicacion.id %}"><i class="bi bi-eye"></i></a>
                {% if user.id == bajo.usuario.id %}
                <a href="{% url 'viasdecomunicacion_editar' bajo.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'viasdecomunicacion_eliminar' bajo.id %}"><i class="bi bi-trash text-danger"></i></a>
                <br>
                <br>
                <br>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}