{% extends 'home/base.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{obrasciviles.titulo}}</h4></p>
{% if obrasciviles.imagenInstrumento %}
    <p><img src="{{obrasciviles.imagenObra.url}}" alt=""></p>
{% endif %}
<p>Descripción: {{obrasciviles.descripcion}}</p>
<p>Año: {{obrasciviles.year}}</p>
<p>Valor (US$): {{obrasciviles.precio}}</p>
<p>Teléfono de Contacto: {{obrasciviles.telefonoContacto}}</p>
<p>Email de Contacto: {{obrasciviles.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not obrasciviles.comentarios.all %}
        No han comentado este proyecto
    {% else %}
        {% for comentario in obrasciviles.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'servicio:comentario' obrasciviles.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}