{% extends 'home/base.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{obrashidraulicas.titulo}}</h4></p>
{% if obrashidraulicas.imagenObra %}
    <p><img src="{{obrashidraulicas.imagenObra.url}}" alt=""></p>
{% endif %}
<p>Descripción: {{obrashidraulicas.descripcion}}</p>
<p>Año: {{obrashidraulicas.year}}</p>
<p>Valor(US$): {{obrashidraulicas.precio}}</p>
<p>Teléfono de Contacto: {{obrashidraulicas.telefonoContacto}}</p>
<p>Email de Contacto: {{obrashidraulicas.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not obrashidraulicas.comentarios.all %}
        No han comentado este proyecto
    {% else %}
        {% for comentario in bajo.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' obrashidraulicas.pk %}">Agrega un Comentario</a>
    </div>
</div>

{% endblock %}