{% extends 'home/base.html' %}

{% block content %}

<br>
<br>

<div class="container">

<p><h4>{{obra.titulo}}</h4></p>
{% if obra.imagenObra %}
    <p><img src="{{obra.imagenObra.url}}" alt=""></p>
{% endif %}
<p>Descripción: {{viasdecomunicacion.descripcion}}</p>
<p>Año: {{viasdecomunicacion.year}}</p>
<p>Valor de la obra (US$): {{viasdecomunicacion.precio}}</p>
<p>Teléfono de Contacto: {{viasdecomunicacion.telefonoContacto}}</p>
<p>Email de Contacto: {{viasdecomunicacion.emailContacto}}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not viasdecomunicacion.comentarios.all %}
        No han comentado este proyecto
    {% else %}
        {% for comentario in viasdecomunicacion.comentarios.all %}
        <p><strong>{{comentario.nombre}}</strong></p>
        <p>{{comentario.mensaje}}</p>
        <p><small>{{comentario.fechaComentario}}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'servicio:comentario' viasdecomunicacion.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}